@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
html {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
}

h1,
h2,
p {
    margin: 0;
}

header {
    background-color: #222;
}

.container_header {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: space-between;
}

.menu_left_img {
    margin-right: 19px;
}

.menu_right {
    display: flex;
    gap: 33px;
}

.title {
    background-color: #F1E4E6;
}

.title_content {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
}

.title_img {
    margin-right: 63px;
}

.title_content_text {
    display: flex;
    align-items: center;
}

.title_texts {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    height: 92px;
    max-width: 377px;
}

.title_text1 {
    color: #222;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
}

.title_text2 {
    color: #222;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
}

.title_text3 {
    color: #F16D7F;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
}

.cards_up_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 65px;
}

.cards_up_item {
    position: relative;
}

.cards_up_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards_up_text_big {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards_up_text1 {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.cards_up_text2 {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.item_big {
    grid-column: span 3;
}

.cards_down_title {
    display: flex;
    gap: 6px;
    flex-direction: column;
    margin-bottom: 48px;
    margin-top: 96px;
    align-items: center;
}

.cards_down_h2 {
    color: #222;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
}

.cards_down_title_text {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.card_down {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.card_down_title {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}

.card_down_text {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 16px;
}

.card_down_price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.card_down_content {
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
}

.cards_down_button {
    color: #F26376;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 0;
    border: 1px solid #F26376;
    background-color: inherit;
    padding: 15px 39px 14px 39px;
}

.cards_down_button_wrapper {
    margin-top: 48px;
    margin-bottom: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:1439px) {
    .container_header {
        max-width: 100%;
        padding-left: 32px;
        padding-right: 41px;
    }
    .container {
        max-width: 100%;
        margin-left: 16px;
        margin-right: 16px;
    }
    .menu_left_img {
        margin-right: 41px;
    }
    .title_content {
        max-width: 100%;
        margin-left: 16px;
        margin-right: 16px;
    }
    .title_img {
        margin-right: 39px;
    }
    .title_texts {
        max-width: 283px;
    }
    .title_text1 {
        font-size: 44px;
    }
    .title_text2 {
        font-size: 24px;
    }
    .title_text3 {
        font-size: 24px;
    }
    .cards_up {
        gap: 20px;
        justify-items: center;
    }
    .cards_up_img {
        width: 100%;
        height: 100%;
    }
    .cards_up_item {
        position: relative;
    }
    .cards_down_img {
        width: 100%;
        height: 100%;
    }
    .cards_down_title {
        gap: 3px;
        margin-top: 59px;
        margin-bottom: 73px;
    }
    .card_down {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;
        align-items: center;
    }
    .card_down_text {
        margin-top: 12px;
        margin-bottom: 18px;
    }
    .card_down_content {
        display: flex;
        padding: 25px 29px 20px 16px;
        flex-direction: column;
        width: 314px;
    }
    .cards_down_button_wrapper {
        margin-top: 32px;
        margin-bottom: 70px;
    }
}

@media screen and (max-width:767px) {
    .container_header {
        margin-left: 16px;
        margin-right: 16px;
    }
    .container {
        margin-left: 16px;
        margin-right: 16px;
    }
    .menu_left_img {
        margin-right: 41px;
    }
    .menu_right_img2,
    .menu_right_img3,
    .title_img {
        display: none;
    }
    .title_content {
        height: 363px;
    }
    .title_texts {
        padding-left: 15px;
        height: 66px;
        max-width: 236px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .title_text1 {
        font-size: 38px;
    }
    .title_text2 {
        font-size: 20px;
    }
    .title_text3 {
        font-size: 20px;
    }
    .cards_up_grid {
        grid-template-columns: 1fr;
        gap: 32px;
        margin-bottom: 32px;
        margin-top: 64px;
    }
    .item_big {
        height: 111px;
    }
    .cards_down_title {
        margin-top: 64px;
        margin-bottom: 64px;
    }
    .card_down {
        grid-template-columns: 1fr;
    }
    .containerV2 {
        max-width: 100%;
        margin-left: 8px;
        margin-right: 8px;
    }
    .cards_down_button_wrapper {
        margin-top: 40px;
        margin-bottom: 85px;
    }
}